body
{
    overflow: auto;
    font-family: lato;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
    background-color: #18bc9c;
    border-radius: 10px;
}
/*start navbar*/
.navbar-inverse
{
    border-color: #2c3e50;
}
.navbar-inverse
{
    padding-top: 24px;
    padding-bottom: 24px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}
.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand
{
    font-size: 50px;
    color: #f5f5f5;
    font-weight: 700;
}
.navbar > .container .navbar-brand span
{
    color: #18bc9c;
    font-size: 35px;
    font-weight: normal;
}
.navbar-inverse .navbar-nav > li > a
{
    font-size: 16px;
    font-weight: 700;
    color: #f5f5f5;
    padding-top: 30px;
}
.navbar-inverse .navbar-nav > li > a:hover
{
    color: #18bc9c;
}
.navbar-inverse .navbar-toggle
{
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover
{
    background-color: #18bc9c;
}
/*end navbar*/

/*start header*/
.header-one
{
    padding-top: 170px;
    padding-bottom: 50px;
    background-color: #18bc9c;
}
.header-one h1
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    color: #f5f5f5;
    letter-spacing: 3px;
}

.header-one hr
{
    border-color: #f5f5f5;
}

.header-one h2
{
    color: #f5f5f5;
}
/*end header*/

/*start portfolio*/
.portfolio h2
{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}
.portfolio hr
{
    border: 2px solid #2c3e50;
}
.portfolio .item-caption
{
    height: 99%;
    position: absolute;
    opacity: 0;
    display: flex;
    transition: all 0.8s ease-in-out;
    width: 93%;
    background-color: rgba(24,188,156,.9);
}
.portfolio .item-caption:hover
{
    opacity: 0.9;
}
.portfolio .item-caption-content
{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
}

.portfolio img
{
    margin: 10px 0;
}
/*end portfolio*/

/*start about*/

.about
{
    background: #18bc9c;
}

.about .h1
{
    font-weight: bold;
    color: #f5f5f5;
    font-size: 40px;
    margin-bottom: 8px;
    margin-top: 0;
}
.about .lead
{
    text-align: left;
    color: #f5f5f5;
    margin-bottom: 50px;
    line-height: 1.7;
    font-size: 19px;
    word-spacing: 2px;
}

.about .btn
{
    background-color: transparent;
    border: 2px solid #f5f5f5;
    padding: 10px 15px;
    width: 18%;
    color: #f5f5f5;
    font-size: 18px;
}
.about .btn:hover
{
    color: #373737;
    background: #f5f5f5;
}
.about i
{
    margin-right: 10px;
}
/*end about*/

/*start section contact*/
.contact .h1
{
    font-weight: bold;
}
.contact hr
{
    border: 2px solid #2c3e50;
}
.contact input,
.contact textarea
{
    margin-bottom: 5px;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e9ecef;
    box-shadow: none;
}
.contact input,
.contact textarea:focus
{
    outline: none;
}
.contact textarea
{
    height: 200px;
    margin-bottom: 20px;
}
.contact .btn
{
    width: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #f5f5f5;
    font-size: 20px;
    background-color: #18bc9c;
    border: none;
    opacity: .9;
}
.contact .btn:hover
{
    opacity: 1;
}
/*end section contact*/

/*start section footer*/
.footer{
    color: #f5f5f5;
}
.footer .h1,
.footer .lead
{
    margin-left: 50px;
    margin-bottom: 20px;
}
.footer h2
{
    margin-bottom: 20px;
}

.footer a
{
    color: #f5f5f5;
}

.footer i
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #f5f5f5;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    margin-left: 10px;
}

.footer i:hover
{
    background-color: #f5f5f5;
}

.footer p
{
    font-size: 20px;
}

.footer p a
{
    color: #18bc9c;
    opacity: 0.8;
    cursor: pointer;
}

.footer p a:hover
{
    opacity: 1;
}
/*end section footer*/

/*start copyright*/
.copyright
{
    background-color: #1a252f;
    color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*end copyright*/

/*start scrollTop*/
#scroll-top
{
    width: 50px;
    background: #18bc9c;
    color: #999;
    text-align: center;
    position: fixed;
    display: none;
    z-index: 9999;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
}
/*end scrollTop*/

/*start group*/
.navbar-inverse,
.footer
{
    background-color: #2c3e50;
}
.portfolio h2,
.footer i:hover,
.contact .h1
{
    color: #2c3e50;
}
.contact,
.footer,
.about,
.portfolio
{
    padding-top: 70px;
    padding-bottom: 70px;
}
hr
{
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1px;
    font-size: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: #f5f5f5;
    overflow: visible;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    width: 20%;
}
/*end group*/